.proyectsContainer {
  display: flex;
  flex-wrap: wrap;
}

.cardContainer {
  perspective: 1000px;
  margin: 4rem;
}

.card {
  width: 500px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.cardFront {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #3498db;
  font-family: "Secular One", sans-serif;
}

.cardBack {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  color: #3498db;
  font-family: "Secular One", sans-serif;
}
.projectDescription {
  color: white;
  text-align: left;
}

.techContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.techItem {
  margin: 10px;
}

.urlContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.link {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: space-between; /* Centra horizontalmente */
  padding: 15px;
  border: 2px solid #3498db;
  border-radius: 15px;
  margin: 5px;
  text-decoration: none;
  color: #3498db;
  transition: border-color 0.3s ease-in-out;
}

.link:hover {
  border-color: white; /* Color del borde al pasar el mouse */
}
