.aboutMeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}
.profileContainer {
  margin: 3rem 3rem;
}
.iconsContainer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.5em;
}
.iconItem {
  margin: 0 15px;
  display: flex;
  text-decoration: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 2px solid #3498db;
  border-radius: 15px;
  margin: 2rem;
  text-decoration: none;
  color: #3498db;
  transition: border-color 0.3s ease-in-out;
}

.link:hover {
  border-color: white; /* Color del borde al pasar el mouse */
}

.santiago {
  font-family: "Anton", sans-serif;
  font-size: 40px;
}

.descriptionContainer {
  border: 2px solid #3498db;
  border-radius: 15px;
  padding: 3rem;
  margin: 5rem 4rem 0rem 0rem;
}

.description {
  font-family: "Secular One", sans-serif;
  font-size: large;
  text-align: left;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .aboutMeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .iconsContainer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2.5em;
  }
  .link {
    margin: 2px;
  }

  .descriptionContainer {
    border: none;
    padding: 0.2rem;
    margin: 0.5rem 1rem;
  }
  .description {
    font-size: small;
    text-align: center;
  }
  .profileContainer {
    margin: 1rem 1rem;
    align-items: center;
  }
  .santiago {
    text-align: center;
  }
}
