.navbar {
  background-color: #202f46;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  margin-left: 2rem;
}

.navbar__list {
  list-style: none;
  margin-right: 4rem;
  display: flex;
  flex-direction: row;
  font-family: "Secular One", sans-serif;
}

.navbar__list-item {
  padding: 10px;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  margin: 0rem 2rem;
  transition: color 0.3s, background-color 0.3s;
}

.navbar__link:hover {
  color: #a8201a;
}

.navbar__menuButton {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.navbar__menuButton {
  display: none;
}
.navbar__open {
  display: flex;
}

@media screen and (max-width: 768px) {
  .navbar__list {
    display: none;
  }

  .navbar__menuButton {
    display: block;
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 0%;
    background-color: #202f46;
    width: 100%;
    font-size: x-large;
   
  }
  .navbar__closed {
    display: none;
  }
  .navbar__listItem {
    margin-bottom: 0.5rem;
  }
  .navbar__link {
    margin: 0rem 0rem;
  }
}
